@page "/"
@using WebApp.Services
@using WebApp.ViewModels
<PageTitle>Index</PageTitle>

<div>
	<img src=~/logoicon.png/>
	<div class='background'>
			<h1 class='title'>Tracking Number</h1>
			<input placeholder='xxxx-xxxx-xxxx' bind="tracingId"class='traceinput'/>
			<button onclick="OnTrackingIdButtonClick">Enter</button>
	</div>
	<div>
		<label>History</label>
		<table border="1">
		<tbody>
		@foreach(var status in statusHistory)
		{
			<tr>
				<td>
					@status
				</td>
			</tr>
		}
		</tbody>
		</table>
	</div>
</div>

@code 
{
	private string tracingId = "";
	private DeliveryServiceStub _deliveryServiceStub;
	private List<Delivery> statusHistory = new List<Delivery>();

	private async void OnTrackingIdButtonClick()
	{
		statusHistory.Add(await _deliveryServiceStub.GetDeliveryAsync(tracingId));
	}

}