@page "/"
@using WebApp.Services
@using WebApp.ViewModels

<PageTitle>Track and Trace</PageTitle>

<a href="/">
	<img class="logo" src="/aalogo.png" asp-append-version="true" alt="business logo" />
</a>

<div class="search-container">
	<div class="ma">
		<h1 class="title">Tracking Number</h1>

        <div class="search-input">
        	<div class="search-input-field">
        		<input @bind="_tracingId" class="trace-input"/>
        		<p class="trace-input-text">xxxx-xxxx-xxxxxxxx</p>
        	</div>
        	<div @onclick="OnTrackingIdButtonClick" class="btn-standard">
        		<img src="icons/search.svg" alt="search">
        	</div>
        </div>
	</div>
</div>

<div class="content-container ma">
	<h2>History</h2>

	<TableTemplate Items="_statusHistory" Context="h">
		<TableHeader>
		</TableHeader>
		<RowTemplate>
			<td>@h.UpdateTime".ToString("dd/MM/yy HH:mm")</td>
			<td>@h.Message</td>
		</RowTemplate>
	</TableTemplate>
</div>

@code 
{
	private string _tracingId = "";
	private readonly IDeliveryService _deliveryService= new DeliveryServiceStub();
	private readonly List<Delivery> _deliveries = new();
	private readonly List<Status> _statusHistory = new();

	private async void OnTrackingIdButtonClick()
	{
		_deliveries.Add(await _deliveryService.GetDeliveryAsync(_tracingId));
		_statusHistory.AddRange(_deliveries[0].StatusHistory);
	}

}