<nav>
    <div class="navbar">
        <a class="navbar-item" href="/">
            <div class="navbar-item-bg"></div>
            <img src="icons/home.svg" alt="home link">
            <div class="image-shadow"></div>
        </a>
        <a class="navbar-item" href="#">
            <div class="navbar-item-bg"></div>
            <img src="icons/truck.svg" alt="home link">
            <div class="image-shadow"></div>
        </a>
    </div>
</nav>