@page "/"

<PageTitle>Index</PageTitle>

<div>
	<img src="/aalogo.png" asp-append-version="true"/>
	<div class='background'>
			<h1 class='title'>Tracking Number</h1>
			<input placeholder='xxxx-xxxx-xxxx' class='traceinput'/>
			<button>Enter</button>
	</div>
	<div>
		<label>History</label>
		<table border="1">
		<tbody>
		@foreach(var status in statuses)
		{
			<tr>
				<td>
					@status
				</td>
			</tr>
		}
		</tbody>
		</table>
	</div>
</div>

@code 
{
	private IEnumerable<string> statuses = new[]
	{
		"Gay",
		"Faggit",
		"Dead"
	};
}